<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/prism.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/components/prism-c.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/components/prism-cpp.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/components/prism-java.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/components/prism-python.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/plugins/toolbar/prism-toolbar.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/plugins/line-numbers/prism-line-numbers.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js" charset="utf-8"></script>

</div>
<hr>
<footer>
  <p>&#169 AlgoIntuitions, All rights reserved</p>
</footer>
</body>
</html>
