<div class="topics-list-card">
  <% categories.forEach(function(category) { %>
    <div class="topic-tag">
      <a class="topic-title" href="/category/<%= category %>"><%= category %></a>
    </div>
  <% }); %>
</div>
