<% questionsList.forEach(function(question) { %>
  <div class="questions-card card">
    <div class="card-body">
      <div class="question-title">
        <h4 class="question-title-text">
          <a href="#">
            <%= question.title %>
          </a>
        </h4>
      </div>

      <div class="question-info">
        <div class="difficulty-tag">
          <a href="#">
            <%= question.difficultTag %>
          </a>
        </div>
        <div class="topics-tag">
          <% question.topicsTag.forEach(function(topic) { %>
          <span class="topic">
            <a href="#"><%= topic %></a>
          </span>
          <% }) %>
        </div>
      </div>

      <div class="question-description">
        <%= question.description %>
      </div>
    </div>
  </div>
<% }); %>
