<%- include("header"); -%>
<%- include("navHome"); -%>
<div class="questions-tag-list">
    <!-- leetcode type questions tag list -->
</div>
<div class="questions-list">
    <%- include("defaultQuestions"); -%>
</div>
<%- include("footer"); -%>
