<div class="topics-list-card">
  <div class="topic-tag">
    <a class="topic-title" href="#">Array</a>
  </div>
  <div class="topic-tag">
    <a class="topic-title" href="#">Binary Tree</a>
  </div>
  <div class="topic-tag">
    <a class="topic-title" href="#">Dynamic Programming</a>
  </div>
  <div class="topic-tag">
    <a class="topic-title" href="#">Graph</a>
  </div>
  <div class="topic-tag">
    <a class="topic-title" href="#">Greedy</a>
  </div>
  <div class="topic-tag">
    <a class="topic-title" href="#">Queue</a>
  </div>
  <div class="topic-tag">
    <a class="topic-title" href="#">Stack</a>
  </div>
  <div class="topic-tag">
    <a class="topic-title" href="#">String</a>
  </div>
</div>
