* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #EEEEFE;
}

a {
  text-decoration: none;
}

.middle-section {
  margin: 1rem 20%;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  min-height: 84vh;
}

/* Navbar */
.navbar {
  padding: 2px;
  height: 4rem;
  box-shadow: 0px 0px 8px 3px #CCCCCC;
}

.navbar-brand {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0 0 0 30px;
}

.nav-link {
  font-size: 1.5rem;
}

/* Questions tag list container */
.topics-tag-list {
  margin: 1.5rem auto;
}

.topics-list-card {
  display: flex;
  margin: 0 auto;
}

.topic-tag {
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
}

.topic-title {
  color: #666;
  font-size: 1.2rem;
}

/* default question card list sytling */
.questions-list {
  margin-bottom: 1rem;
}

.questions-card {
  border-radius: 10px;
  margin: 5px auto;
  background-color: #fff;
}

.card-body {
  margin: 0.5rem;
}
.question-title-text > a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #444;
}

.question-info {
  display: flex;
  align-content: center;
  margin-bottom: 0.5rem;
}

.difficulty-tag > a {
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 4px;
  margin-right: 2rem;
}

.topics-tag {
  gap: 0.5rem;
  display: flex;
}

.topic > a {
  color: #aaa;
}

.topic > a:hover {
  color: #222;
}

.topic {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

/* Footer */
footer {
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 3rem;
}

/* createQuestion */
.heading {
  text-align: center;
}

form {
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin: 1rem;
}

.button-cont {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  /* resize: none;   text area resize option disabled */
}

/* question page */


.heading-center {
  min-height: calc(100vh - 4rem - 1rem - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.heading-center > img {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}

.heading-center > img {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-spacing {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
