* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #EEEEEE;
}

/* header */

/* Navbar */
.navbar {
  height: 3rem;
  background-color: lightpink;
}

/* Questions tag list container */
.questions-tag-list {
  height: 10rem;
  width: 80%;
  margin: auto;
  background-color: #ccc;
}

/* default question card list sytling */
.questions-list {
  margin: 2rem;
  width: 80%;
  /* height: calc(100vh - 3rem - 3rem - 10rem); */
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.questions-card {
  height: 12rem;
  width: 80%;
  margin: 50px;
  background-color: #fff;
}
.question-title {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}
.question-description {
  margin: 1rem;
}
.question-title-text > a {
  font-size: 1.5rem;
  color: #444;
  text-decoration: none;
}

.question-info {
  display: flex;
  align-content: center;
  width: 100%;
  margin-left: 1rem;
}

.difficulty-tag > a {
  font-size: 1.2rem;
  color: rgb(38, 36, 36);
  margin-right: 2rem;
  text-decoration: none;
}
.topics-tag {
  gap: 0.5rem;
  display: flex;
}
.topic {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.topic > a {
  text-decoration: none;
}
.question-description {
  width: 100%;
}

/* Footer */
footer {
  display: flex;
  align-content: flex-end;
  height: 3rem;
  background-color: lightsalmon;
}