* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #EEEEEE;
}

/* Navbar */
.navbar {
  padding: 2px;
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0 0 0 30px;
}

.nav-link {
  font-size: 1.5rem;
}

/* Questions tag list container */
.topics-tag-list {
  margin: 2% 20%;
}

.topics-list-card {
  display: flex;
}

.topic-tag {
  background-color: white;
  border-collapse: separate;
  border-radius: 8px;
  margin-right: 10px;
  padding: 10px;
}

.topic-title {
  font-size: 1.2rem;
  text-decoration: none;
}

/* default question card list sytling */
.questions-list {
  margin: 2rem 20%;
  /* height: calc(100vh - 3rem - 3rem - 10rem); */
  display: flex;
  flex-direction: column;
}

.questions-card {
  margin: 5px auto;
  background-color: #fff;
}

.card-body {
  margin: 0.5rem;
}
.question-title-text > a {
  font-size: 1.5rem;
  color: #444;
  text-decoration: none;
}

.question-info {
  display: flex;
  align-content: center;
  margin-bottom: 0.5rem;
}

.difficulty-tag > a {
  font-size: 1.2rem;
  color: rgb(38, 36, 36);
  margin-right: 2rem;
  text-decoration: none;
}
.topics-tag {
  gap: 0.5rem;
  display: flex;
}
.topic {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.topic > a {
  text-decoration: none;
}
.question-description {
  width: 100%;
}

/* Footer */
footer {
  padding: 10px;
  height: 3rem;
  background-color: lightsalmon;
  text-align: center;
}
